body {
    background-color: rgb(32, 32, 32) !important;
    color: white !important;
  }
  
  .app {
    /* You can add specific styles for the app container here if needed */
  }
  
  .app > .row {
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    padding-bottom: 20px; /* Add some padding to ensure scrollbar doesn't cover content */
  }
  
  .movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px; /* Add some horizontal spacing between movies */
  }
  
  .movie > .title {
  
      text-wrap:nowrap;
      overflow: hidden;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 1em;
  }
  
  .movie > img {
    max-width: 200px !important;
    height: auto; /* Maintain aspect ratio */
  }
  